@import "tailwindcss";
@import "./app.css";
@import "./page-transitions.css";
@import "./fonts.css";
@import "./animations.css";
@import "./image-choice-question.css";
@import "./scrollbar.css";
@import "./slider.css";
@import "./walkthrough.css";
@import "./mobile-ux.css";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Prevents overflow on the x-axis */
    overflow-x: hidden;
}