@import "tailwindcss";
@import "./toaster.css";
@import "./app.css";
@import "./page-transitions.css";
@import "./fonts.css";
@import "./animations.css";
@import "./image-choice-question.css";
@import "./scrollbar.css";
@import "./slider.css";
@import "./walkthrough.css";
@import "./mobile-ux.css";

html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Prevents overflow on the x-axis to fix framer motion not working on mobile issue*/
    overflow-x: hidden;
}

#root {
    min-height: 100%;
    width: 100%;
}

button{
  cursor: pointer;
}